/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centralização */
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caixa principal */
div {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgb(0, 0, 0.2);
}

/* Título */
h1 {
    color: #333;
    margin-bottom: 15px;
}

/* Texto das renderizações */
p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

/* Botões */
button {
    padding: 10px 18px;
    margin: 7px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Botões + e - */
.btn{
    background: #667eea;
    color: #fff;
}

.btn:hover {
    background: #5563c1;
}

/* Botão reset */
#reset{
    background: #e63946;
    color: #fff;
}

#reset:hover{
    background: #c92f3b;
}
